body
{
	background-color: #E0D7CE;
}
ul#css3menu1,ul#css3menu1 ul{
	margin:0;
	list-style:none;
	padding:0;
	background-color:#0C084F;
}
ul#css3menu1 ul{
	display:none;
	position:absolute;
	left:0;
	top:100%;
	padding:0 10px 10px;
	background-color:#0C084F;
	border-color:#0C084F;
}
ul#css3menu1 li:hover>*{
	display:block;
}
ul#css3menu1 li:hover{
	position:relative;
}
ul#css3menu1 ul ul{
	position:absolute;
	left:100%;
	top:0;
}
ul#css3menu1{
	display:block;
	font-size:0;
	float:right;
}
ul#css3menu1 li{
	display: block;
	white-space:nowrap;
	font-size:0;
	float:left;
}
ul#css3menu1>li,ul#css3menu1 li{
	margin:0;
}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;
}
ul#css3menu1 a,ul#css3menu1 a.pressed{
	display:block;
	vertical-align:middle;
	text-align:center;
	text-decoration:none;
	font:bolder 12px Trebuchet MS;
	color:white;
	cursor:pointer;
}
ul#css3menu1 ul li{
	float:none;
	margin:10px 0 0
}
ul#css3menu1 ul a{
	text-align:left;
	padding:4px;
	background-color:#0C084F;
	border-width:0;
	font:14px Tahoma;
	color:white;
	text-decoration:none;
}
ul#css3menu1 a{
	padding:10px;
	background-color:#0C084F;
	color:white;
	text-decoration:none;
}
ul#css3menu1 li:hover>a,ul#css3menu1 li>a.pressed{
	background-color: #0C084F;
	border-style:solid;
	border-color:#0C084F;
	color:white;
	text-decoration:none;
}
ul#css3menu1 ul li:hover>a,ul#css3menu1 ul li>a.pressed{
	width :auto
	background-color:#0C084F; 
	background-image:none;
	font:14px Tahoma;
	color: brown;
	text-decoration:none;
}
ul#css3menu1 li.topfirst>a{
	height:18px;
	line-height:18px;
}
ul#css3menu1 li.topfirst:hover>a,ul#css3menu1 li.topfirst>a.pressed{
	line-height:18px;
}
ul#css3menu1 li.topmenu>a{
	height:18px;line-height:18px;
}
ul#css3menu1 li.topmenu:hover>a,ul#css3menu1 li.topmenu>a.pressed{
	line-height:18px;
}
ul#css3menu1 li.toplast>a{
	height:18px;
	line-height:18px;
}
ul#css3menu1 li.toplast:hover>a,ul#css3menu1 li.toplast>a.pressed{
	line-height:18px;
}